.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
  box-sizing: border-box;
}

.movie-details__divider {
  align-self: center;
  width: 250px;
  height: 1px;
  background: linear-gradient(to right, transparent, #444, transparent);
  opacity: 0.7;
}
