.collections {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 20px;
  box-sizing: border-box;
}

.collections__filter-bar {
  display: block;
}

.collections__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
}

.collections__mobile-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collections__mobile-filter-button {
  display: none;
}

.collections__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
  gap: 25px;
  width: 100%;
  min-height: 300px;
  justify-items: center;
  align-items: center;
  color: var(--text-secondary);
}

.collections__pagination {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collections__mobile-filter-panel {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(40px);
  color: #fff;
  padding: 20px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: bottom 0.4s ease;
  z-index: 1001;
  overflow-y: auto;
}

.collections__mobile-filter-panel::-webkit-scrollbar {
  display: none;
}

.collections__mobile-filter-panel--open {
  bottom: 0;
}

.collections__mobile-filter-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 10px;
}

.collections__mobile-filter {
  max-width: 100%;
}

@media (min-width: 931px) {
  .collections__mobile-filter-panel {
    display: none;
  }
}

@media (max-width: 930px) {
  .collections__mobile-filter-button {
    display: block;
  }

  .collections__filter-bar {
    display: none;
  }
}
