.search-by-user {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-secondary);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 14px 16px;
  border-radius: 14px;
  width: 100%;
  gap: 15px;
  box-sizing: border-box;
}

.search-by-user__title {
  color: var(--text-secondary);
  font-size: 14px;
}
